html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 10px;
}

hr {
  width: 100px;
  border: 0;
  height: 2px;
  margin: 0;
}

.fa-github, .fa-linkedin, .fa-medium {
  transition: 0.5s;
}

.fa-github:hover {
  color: #333333;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-medium:hover {
  color: #00ab6c;
}

#sideNav i {
  position: fixed;
  top: 3em;
  left: 3em;
  z-index: 20;
  color: white;
  background: black;
  border: 2px solid white;
  padding: 0.3em 0.5em;
}

#sideNavMenu {
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  height: 100vh;
  width: 250px;
  background-color: #4D4D4D;
  color: white;
  padding: 3em;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.show {
  left: 0
}

.hide {
  left: -250px;
}

.active {
  border-bottom: 1px solid white;
}

#sideNavMenu li {
  margin: 2em 0;
  font-size: 1.2em;
}

#landingScreen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #FFFFFF;
}

#landingScreen h1 {
  font-size: 5em;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

#landingScreen h3 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 400;
}

#landingScreen .social {
  margin-top: 1.5em;
  display: flex;
  width: 10%;
  justify-content: space-around;
}

#landingScreen .social a {
  font-size: 2em;
}

#landingScreen a.next {
  font-size: 3em;
  position: absolute;
  bottom: 10%;
}

#aboutMe {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 2em;
}

#aboutMe hr {
  background: black;
}

/*SKILLS*/

#skills {
  background: #4D4D4D;
  color: white;
  padding: 2em 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills hr {
  background: white;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.all-skills li:before {
  content: '✓';
}

.all-skills li {
  width: 30%;
  padding: 0.5em;
}

/*PROJECTS*/

#projects {
  background: black;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 5vw 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects hr {
  background: white;
}

.filter-btns {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
  padding-left: 0;
}

.filter-btns li {
  margin: 0.5em;
}

.filter-btns li a {
  color: white;
  background: black;
  border: 2px solid white;
  padding: 1em;
  transition: 0.2s;
}

.filter-btns li a:hover {
  color: white;
  background: #4D4D4D;
  padding: 1em;
}

li.active-btn a {
  color: black;
  background: white;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-content: center;
  grid-gap: 5em;
  padding: 2em 0;
}

.project-card img {
  width: 100%;
}

.project-card {
  position: relative;
}

.project-card .project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(115, 115, 115, 0.95);
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.project-description h3 {
  margin: 10px 0 0 0;
}

.project-card:hover .project-description {
  opacity: 1;
}

#contacts {
  background-color: #4D4D4D;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 15%;
}

#contacts hr {
  background: white;
}

.email {
  font-size: 1.2em;
}

#contacts .social {
  padding: 1em;
  font-size: 1.5em;
}

#contacts .social a {
  padding: 0.5em;
}

#footer {
  width: 100%;
  text-align: center;
  color: white;
  background: black;
  padding: 0.5em 0;
}

#footer p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  /*LANDING SCREEN*/
  #landingScreen {
    box-sizing: border-box;
    text-align: center;
    padding: 0 20%;
  }
  #landingScreen h1 {
    font-size: 5.2em;
  }
  #landingScreen .social {
    width: 30%;
  }
  /*ABOUT ME*/
  #aboutMe {
    padding: 5em 20%;
    height: auto;
  }
  /*PROJECTS*/
  #projects {
    padding: 4em 20%;
  }
  .filter-btns li {
    margin: 1.5em 0.5em;
  }
  .filter-btns li a {
    padding: 0.8em;
  }
  .project-cards {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2em;
  }
  .project-card .project-description {
    position: relative;
    background: none;
    opacity: 1;
  }
  /*CONTACTS*/
  #contacts {
    height: 30vh;
    padding: 0 20%;
  }
}

@media only screen and (max-width: 425px) {
  h2 {
    font-size: 2.2em;
  }
  /*SIDE NAVBAR*/
  #sideNavMenu {
    width: 170px;
  }
  .hide {
    left: -170px;
  }
  #sideNav i {
    top: 1.5em;
    left: 1.5em;
  }
  /*LANDING SCREEN*/
  #landingScreen h1 {
    font-size: 3em;
  }
  #landingScreen h3 {
    font-size: 1.5em;
  }
  #landingScreen .social {
    width: 40%;
  }
  #landingScreen .social a {
    font-size: 1.5em;
  }
  #landingScreen a.next {
    font-size: 2em;
  }
  /*ABOUT ME*/
  #aboutMe {
    padding: 5em 10%;
    height: auto;
    line-height: 1.5em;
  }
  /*SKILLS*/
  .all-skills li {
    width: 45%;
    padding: 0.5em 0.2em;
  }
  /*PROJECTS*/
  #projects {
    padding: 0 10%;
  }
  /*CONTACTS*/
  #contacts {
    height: 50vh;
    padding: 0 10%;
  }
  .email {
    font-size: 1em;
  }
}

}
